.marcas {
  //   width: 10rem;
  height: 5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  object-fit: contain;
}
/*animacion marcas*/
.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    // width: 860px;
    width: 1040px;
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
  }
}

/*FUNCIONA EN LA PANTALLA MAS GRANDE*/
// 0% {
//   -webkit-transform: translateX(-65vw);
//   transform: translateX(-65vw);
// }
// 100% {
//   -webkit-transform: translateX(100vw);
//   transform: translateX(100vw);
// }
